/*reset cross-browser (no longer necessary) */
/* Fem reset normal */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* Intentem usar el inherit tot lo que puguem. Per això la definició de caixa està en body. Better practice */
    box-sizing: inherit;
}

html {
    /* Ara 1 rem són 10 px, però no se pot canviar la font-size des del navegador
    font-size: 10px; */
    /* Per a tindre-ho, posem percentatge, assumint que el default del browser és 16px */
    font-size: 62.5%;
}

body {
    padding: 3rem;

    /* Canvia el model de caixa per a que els borders i paddings no s'afigen al total width/height */
    box-sizing: border-box;
}