/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*reset cross-browser (no longer necessary) */
/* Fem reset normal */
* {
    margin: 0;
    padding: 0;
    /* Canvia el model de caixa per a que els borders i paddings no s'afigen al total width/height */
    box-sizing: border-box;
}

html {
    /* Ara 1 rem són 10 px, però no se pot canviar la font-size des del navegador
    font-size: 10px; */
    /* Per a tindre-ho, posem percentatge, assumint que el default del browser és 16px */
    font-size: 62.5%;
}

body {
    /* Fem lo de font ací per a poder usar inheritance */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

.header {
    /* En qualsevol moment, l'alçada de l'element serà el 95% de l'alçada del viewport */
    height: 95vh;
    background-image:
        linear-gradient(to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 131, 0.8)),
        url("../img/hero.jpg");
    background-size: cover;
    /* Assegurem que el top de la image se manté al top del container: */
    background-position: top;
    /* Amb clip-path posem els llocs on la imatge serà visible */
    clip-path: polygon(0 0, 100% 0, 100% 74vh, 0 100%);

    position: relative;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    height: 3.5rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    /* A vegades després d'una animació, l'element se mou. Per a corregir-ho: */
    backface-visibility: hidden;
    /* No dixa vore l'element de darrere quan transformes l'element */
    margin-bottom: 6rem;
}

.heading-primary-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;


    /*
    animation-delay: 3s; 
    animation-iteration-count: 3;
    */
}

.heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* :link és una pseudoclasse. Per a estilitzar determinades coses (?)*/
/* volem que se veja igual antes i després de punxar-lo */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /* Posem a l'estat inicial que hi haurà una transició, quines són i lo que han de durar */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* Quan fem click a un element se posa en el active state. :active pseudoclass */
.btn:active {
    /* En relació al estat inicial */
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    /* Per a que aparega after hem de posar content i display */
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* Lo de baix pa amagar-ho darrere del botó */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}